{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'MainPage/css/style.css' %}">
  <title>دانشگاه</title>

</head>


<body>
  <div><p><a href="">پروژه</a></p></div>
  <div><p><a href="">کتابخانه</a></p></div>
  <div><p><a href="">جزوه</a></p></div>
  <div><p><a href="">نمونه سوالات</a></p></div>
  <div><p><a href="">مقاله ها</a></p></div>
  <div><p><a href="">ارائه ها</a></p></div>
  <div><p><a href="">دانشجو</a></p></div>
  <div><p><a href="">استاد</a></p></div>
  <div><p><a href="">مربی</a></p></div>
</body>


</html>